body {
    background: #132835;
    color: #51b3ec;
    align-items: center;
    
}
.cabecalho {
    background-color: #0e1d27; /* Cor de fundo do cabeçalho */
    padding: 20px; /* Espaçamento interno */
}
#if {
    background: #99cbe7;
}
  
.cabecalho h2 {
    font-family: Arial, sans-serif; /* Fonte de letra */
    font-size: 18px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    /*color: #3333330;*/ /* Cor do texto */
    margin: 10px 0; /* Espaçamento entre os elementos h2 */
}
.grupo_identitario {
    background-color: #0e1d27;
    padding: 20px;
}
#title {
    text-align: center; /* Centraliza o texto horizontalmente */
  }

.conteudo h2 {
    text-indent: 20px;
}
.conteudo img {
    width: 276px;
    height: 183px;
}